<!-- Start Footer Area -->
<footer class="footer-area bg-color3">
    <div class="footer-wrapper section-spacing bminus-30">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="footer-widget wow fadeIn" data-wow-duration="1s">
                        <h5 class="footer-title heading-5">Over UIG Pages</h5>
                        <p>UIG Pages is het documentatie startpunt van het UIG team.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="footer-widget wow fadeIn" data-wow-duration="4s">
                        <h5 class="footer-title heading-5">Volg Ons</h5>
                        <ul class="footer-socials list-inline">
                            {% if site.github %}
                                <li class="list-inline-item"><a href="{{site.github}}"><i class="fa fa-github"></i></a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="home-top"><i class="fa fa-angle-down" aria-hidden="true"></i></a>
</footer>
<!-- End Footer Area -->